.App{
  background-color: white;
}

h3{
  font-size: 30px;
  text-shadow: 2px 2px cornsilk;
  color: black;
}

p{
  font-size: 20px;
}
.circleWomen{
  margin: 20px 0px;

}

.techKaro{
  background-color: #88ba9254;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 80px;
}

.slider{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: cadetblue; */
}

.sponsor{
  background-color: #eef5ed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 40px;
}
.gallery{
  padding: 20px 30px;
}
.GalleryPageContext{
  background-color: #ffc8ce;
}