.App{
  background-color: white;
}

h3{
  font-size: 30px;
  /* text-shadow: 2px 2px cornsilk; */
  /* color: black; */
  background: border-box #779f7c;
  width: fit-content;
  padding: 5px ;
}
h5{
  font-weight: bold;
  font-size: 30px;
  padding: 5px 10px;
  width: 600px;
}

p{
  font-size: 20px;
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #0000007d;
  display: flex;
  justify-content: center; 
  align-items: center;
}
.overlay Button{
  background-color: #e8545d;
  border: #e8545d;
  color: white;
}
.circleWomen{
  margin: 20px 0px;
}
.womenCard{
  display: flex;
  flex-direction: row;
  width: 100%;
  border: none;
}
.womenImage{
  width: 550px;
  height: 400px;
}

.techKaro{
  background-color: #88ba9254;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 80px;
}

.slider{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: cadetblue; */
}

.sponsor{
  background-color: #eef5ed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 40px;
}
.sponsorImage{
  width: 15rem;
}
.gallery{
  padding: 50px 30px;
  background-color: #ffc8ce;
  display: flex;
  justify-content: space-around;
}
.GalleryPageContext{
  background-color: #ffc8ce;
}
.footer{
  width: auto;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around !important;
  padding: 40px 40px;
  background-color: black;
  color: white;
}
.footerLogo{
  width: auto;
}
.icons{
  display: flex;
  justify-content: space-between;
}
.tableDiv{
  background-color: rgba(0,0,0,.6901960784313725);
  color: #fff!important;
  width: 24%;
}
.socialMedia{
  display: flex;
  flex-direction: column;
  font-size: 30px;
}
.formDiv{
  background: rgb(254,218,220);
  background: linear-gradient(0deg, rgba(254,218,220,1) 0%, rgba(216,232,219,1) 58%);
  margin: 50px 40px 0;
  padding: 20px 50px;
}
.techkaroPage{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.techkaroBanner{
  background-image: url("./Images/classes.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
  height: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.techkaroImage{
  background-color: #0000006b;
  color: white;
}
.techkaroContent{
  background-color: burlywood;
  color: black;
  font-size: 30px;
}



@media only screen and (max-width: 540px) {
  .sponsor{
    display: flex;
    flex-direction: column;
  }
  .row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .col{
    margin-top: 20px;
  }
  .womenCard{
    display: flex;
    flex-direction: column;
  }
  .footer{
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1024px){
  .col{
    width: 50%;
  }
  .sponsorImage{
    width: 150px;
  }
  .womenImage{
    width: 300px;
    height: 250px;
  }
}